<div class="jumbotron jumbotron-fluid bg-transparent">
    <div class="container">
        <h1 class="display-4" class="animated fadeIn fast">Marvel</h1>
        <p class="lead" class="animated fadeIn">Marvel Worldwide, Inc., conocida como Marvel Comics, es una editorial de historieras estadounidense creada en 1939, inicialmente con el nombre de Timely Publications. Entre sus personajes emblemáticos del género superheroico se encuentran Spider-Man,
            Wolverine, X-Men, Capitán America, The Punisher, Iron Man, Hulk, Pantera Negra, Thor, Deadpool, los 4 Fantásticos, Daredevil, Doctor Strange, Hombre Hormiga, Ghost Rider, Capitan Marvel, Elektra, Nova y los Inhumanos, entre otros.</p>
    </div>
</div>
<div class="jumbotron jumbotron-fluid mb-0 text-right bg-transparent">
    <div class="container">
        <h1 class="display-4" class="animated fadeIn fast">DC</h1>
        <p class="lead" class="animated fadeIn">DC Comics es una editorial de cómics estadounidense.Fue fundada en 1934 bajo el nombre National Allied Publications, para luego tomar el nombre de DC Comics en 1937.Entre algunos de sus personajes más emblemáticos se encuentran Superman, Batman,
            Wonder Woman, Flash, Linterna Verde, Aquaman, Hawkman, Hawkgirl, Flecha Verde y Shazam, entre otros.</p>
    </div>
</div>