<h1 class="animated fadeIn fast">Buscar: <small>{{ termino }}</small></h1>

<hr>

<div class="row" *ngIf="heroes.length == 0">
    <div class="col-md-12">
        <div class="alert alert-danger" role="alert">No se encontraron resultados con: {{ termino }}</div>
        <img class="img-fluid pb-1" src="assets/img/backgroun-batman.jpg" alt="">
    </div>
</div>

<div class="card-columns animated fadeIn">
    <app-heroe-tarjeta [heroe]="foo" [index]="foo.idx" *ngFor="let foo of heroes"></app-heroe-tarjeta>
</div>